body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 80%;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #ff4081;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#error-message {
    color: red;
    margin-top: 10px;
}
